@import "reset.css";

body {
  background-color: #2272C7;
  margin: 0 auto;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.header {
  margin-top: 50px;
  color: white;
}

.main {
  margin: 0 auto;

  &__input {
    width: 434px;
    height: 40px;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 0 5px;
  }
}

.sort {
  width: 440px;
  margin: 0 auto;
  padding: 12px 0;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.list {
  width: 440px;
  margin: 0 auto;

  &__item {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin-bottom: 10px;
  }

  &__delete {
    height: 30px;
    align-self: center;
    text-decoration: none;
  }
}

.solved {
  background-color: darkgrey;

  & > p {
    text-decoration: line-through;
  }
}